
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: black;
  line-height: 1.8;
  scroll-behavior: smooth;
  background-color: rgb(170, 192, 211);
}

/* First image (Logo. Full height) Parallax Effect*/
.bgimg-1 {
  background-image: url("../images/coder.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../images/curiosityblue.png");
  height: 200px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/curiosityblue.png");
  min-height: 200px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.w3-bar-item {
  float: right;
}